[Unit]
Description=BlueAlsa-Aplay
Requires=bluetooth.service blue-alsa.service
[Service]
Type=simple
User=root
Group=audio
Environment=LD_LIBRARY_PATH=/usr/local/lib
ExecStart=/usr/bin/bluealsa-aplay 00:00:00:00:00:00 --profile-a2dp -d default
[Install]
WantedBy=multi-user.target

